* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    width: 100vw;
    height: 100vh;
  }
  

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}


#webcam-container{
    display: flex;
    width: 60vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: "Nico Moji";
    font-size: 25px;
    color: #666;
}
#label-container{
    font-family: "Nico Moji";
    font-size: 45px;
    color: #555;
    margin-left: 7%;
}
#left{
    margin-left: 15%;
}